<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <title>Please Log In</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="login-page">
  <div class="form">
    <h1>Business Operations and Finances</h1>
    <div class="error" th:if="${param.error}">
      Invalid username and password.
    </div>
    <div class="error" th:if="${param.logout}">
      You have been logged out.
    </div>
    <form class="login-form" th:action="@{/login}" method="post">
      <div>
        <input type="text" id="username" name="username" placeholder="Username"/>
      </div>
      <div>
        <input type="password" id="password" name="password" placeholder="Password"/>
      </div>
      <input class="button" type="submit" value="Log in" />
    </form>
    <p>Comârlău Vlad-Constantin 2025</p>
  </div>
</div>
</body>
</html>
